@page
@model ChoosenCareHome.Pages.Services.SupportedLivingModel
@{
}

<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Daily Home Care</h1>
            <h4 style="color:white;">Supported Living</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Supported Living</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-3">
            <div class="col col-lg-12">
                <div class="d-flex flex-column gap-3">
                    <img src="~/img/supportedliving.jpg" alt="" class="img-fluid">
                    <p>
                        Supported Living is designed to empower individuals to live with dignity, confidence, and as much independence as possible within their own homes or shared accommodation. Our approach focuses on personalised support that respects choice, promotes autonomy, and ensures every person feels safe, valued, and in control of their daily life. We create an environment where individuals can build essential life skills, maintain meaningful relationships, and pursue personal goals at their own pace.


                    </p>
                    <br />
                    <p>
                        Our team provides flexible, around-the-clock assistance tailored to each person’s assessed needs. This includes support with daily routines, medication management, household tasks, budgeting skills, personal care, meal preparation, and maintaining a clean, comfortable living environment. We also work closely with families, local authorities, and healthcare professionals to ensure continuity of care, regular reviews, and holistic support.

                    </p>
                    <br />
                    <p>
                        At the heart of Supported Living is the belief that everyone deserves the opportunity to live a fulfilling life within their community. Whether someone requires minimal prompting or intensive 24-hour assistance, we provide a safe, nurturing structure that encourages independence, wellbeing, and personal growth. Our goal is to empower people to live the life they choose, with the right support, in the place they call home.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>