@page
@model ChoosenCareHome.Areas.Admin.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppUser</h4>
    <hr />
  
</div>
<div>
    <a asp-page="./Index" class="btn btn-primary">Back to List</a>
</div>
